/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

p {
    color: #adb9c0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2rem;
    
}

element {
    box-shadow: 1px 1px 1px 1px #31363b;
  }

body {
    /*background-color: #bdc3c7;*/
    width: 250px;
    box-shadow: black 4px 6px 20px; 
}

.foto {
    width: 100%;
}

.logo {
    background: #b92e81;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 180px;
}

.obsah {
    background: #31363b;
    padding: 1rem;
    margin-top: -1rem;
}

.jmeno {
    font-weight: bolder;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}
/*.a {
    color: white;
    padding: 1rem;
    padding-bottom: 0rem;
    margin-top: -1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}*/

.odkazy{
    color: white;
    padding: 1rem;
    padding-bottom: 0rem;
    margin-top: -1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.portfolio{
    width: 250px;
    display: inline-block;
    background: #31363b;
    padding: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border: 1px #3f464d;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    margin-left: -16px;
    text-align: center;
}

.facebook{
    display: inline-block;
    background: #31363b;
    padding: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 125px;
    margin-left: -16px;
    text-transform: uppercase;
}

.twitter{
    display: inline-block;
    background: #1da1f2;
    padding: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    float: right;
    margin-right: -16px;
    padding-right: 26.1px;
    padding-left: 26.2px;
}